/*  your css code here. If applicable */
.testimonial-section{
	background-color:#f5f5f5 ;
	padding:40px;
}

.testimonial{
	background-color: #ffffff;
	padding:16px 20px;
	border:1px solid #ddd;
	
	
}

.author{
	text-align:right;
	font-style:italic;
}